{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <title>Document</title>
</head>
<body>
    <h1>Toy List</h1>
    <div>
        {% if toys.count %}
            <table>
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for toy in toys %}
                    <tr>
                        <td>{{ toy.description }}</td>
                        <td>
                            <form action="{% url 'delete' item.id %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" value="X">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <h3>No Toys Exist</h3>
                <hr>
            {% endif %}
    </div>
    <a href="{% url 'add' %}">
        <input type="submit" class="btn" value="Add Toy">
    </a>
</body>
</html>